@font-face {
    font-family: 'Montserrat';
    src: url('./resources/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
} 

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('./resources/fonts/AtkinsonHyperlegibleNext/AtkinsonHyperlegibleNext-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./resources/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Atkinson Hyperlegible Next', 'Roboto';
}

#screen-saver {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(6, 12, 25, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
    z-index: 99;
}

#loader {
    position: fixed;
    z-index: 100;
    display: none;
}

@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loader::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-style: solid;
    border: 5px solid black;
    border-top-color: #6cc4ee;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.app-container {
    display: grid;
    border: 1px solid black;
    /* grid-template: rows / columns */
    grid-template: 1fr 3fr 2fr / 2fr 5fr;
}

.app-container > * {
    border: 1px solid black;
}

.main-info {
    grid-row: 1 / 4;
    padding: 30px;
}

.location-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#map-marker-icon {
    width: 25px;
}

#location  {
    font-size:25px
}

.weather-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; 
}

#weather-icon {
    max-height: 150px;
}

.temp-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

#temp {
    text-align: center;
    font-size: 80px;
}

#temp-metric {
    text-align: center;
    font-size: 60px;
}

#date {
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.main-info hr {
    margin-top: 10px;
}

#day-week {
    font-weight: bold;
}

#time {
    color: #6c757d;
}

.cloud-cover {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rain-prob {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cloud-cover img, .rain-prob img {
    width: 20px;
}

#switch-temp-btn {
    width: 100%;
    margin-top: 30px;
    background-color: #0b375e;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

#switch-temp-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.search  {
    grid-row: 1 / 2;
    padding-top: 30px;
    border: 1px solid black;
}

.search-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 80%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 20px;
}

#search-query {
    width: 100%;
    font-size: 20px;
    padding: 6px;
    border: none;
}

#search-query:focus {
    outline: none;
}

#search-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

#search-icon {
    width: 30px;
}

#search-icon:hover {
    cursor: pointer;
}

#error-msg {
    color: #d82b0c;
    text-align: center;
    margin: 10px 0 10px 0;
}

.today-highlights {
    grid-row: 2 / 3;
}

.highlights-container {
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.card {
    border: 1px solid black;
    padding: 15px;
}

.desc-box, .sun-box, .feelslike-box {
    grid-row: 1 / 2;
}

.uv-box, .wind-box, .humidity-box, .snow-box {
    grid-row: 2 / 3;
}

.desc-box {
    grid-column: 1 / 3;
    overflow-x: auto;
}

.sun-box {
    grid-column: 3 / 4;
    display: flex;
    gap: 5px;
}

.sun-box div  {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sunrise-icon, #sunset-icon {
    max-width: 50px;
}

.feelslike-box {
    grid-column: 4 / 4;
}

.uv-box {
    grid-column: 1 / 2;
}

.wind-box {
    grid-column: 2 / 3;
}

.humidity-box {
    grid-column: 3 / 4;
}

.snow-box {
    grid-column: 4 / 4;
}

.generic-box div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.generic-data {
    font-weight: bold;
    font-size: 25px;
}

.generic-icon {
    width: 50px;
}

.week-forecast {
    grid-row: 3 / 4;
}